<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Custom Software - Web Development, Mobile Development, Desktop Applications, Design Services, IT Solutions </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta name="Description" content="description" />
		<meta name="Keywords" content="keywords" />
		<%= css_include_tag 'reset-fonts', :media => 'screen, projection' %>
		<%= css_include_tag 'base-min', :media => 'screen, projection, print' %>
		<%= css_include_tag 'main', :media => 'screen, projection' %>
		
		<!--[if lte IE 6]>
			<%= css_include_tag 'ie6', :media => 'screen, projection' %>
		<![endif]-->
	</head>
	<body>
		<!-- Head -->
		<div id="hd">
		<div id="hd-inner">
			<!-- head content -->
			<div id="hd-content" class="clearfix">
				<!-- logo -->
				<div id="logo"><a href="/index.html">entryway software development</a></div>
				
				<%= partial('layout/top_menu') %>
				
				<!-- feature text -->
				<div id="feature-text" class="clear">
					<h1 class="cushycms" title="lead-in heading">Your Ideas Deserve a Positive Solution</h1>

					<p class="cushycms" title="lead-in paragraph">From idea to implementation, your vision combined with our custom development will succeed. Using cutting edge tools we deliver the results your creative vision deserves. Our applications for the <a href="#">web, desktop, and iPhone </a>are personalized and <a href="#"> tailored to fit your business needs.</a></p>
				</div>
			</div><!-- /head content -->
		</div>
		</div>
		<!-- / Head -->
		
		<!-- Body -->
		<div id="bd" class="clearfix">
			
			<!-- main content -->
			<div class="main">
				
				<%= catch_content :for_layout %>
				
			</div><!-- /main content -->

			<%= default_sidebar %>
			<%= catch_content :sidebar %>
			
		</div>
		<!-- / Body -->
		
		<%= partial('layout/footer') %>
		
	</body>
</html>